* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6594d5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

header {
    background-color: #274b73;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
    padding: 10px;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    opacity: .7;
    font-weight: 600;
}

nav ul li a:hover {
    opacity: 1;
}

form {
    margin: 20px auto;
    padding: 25px;
    border-radius: 10px;
    background-color: #2b3a5b;
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 70%;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin: 0 auto;
    padding: 5px;
    width: 100%
}

label input {
    background-color: #222222aa;
    border-radius: 5px;
    border: 1px solid #222;
    height: 30px;
    padding: 5px;
    margin: 5px;
    color: white;
}

button {
    color: #fff;
    background-color: #222222aa;
    width: 10%;
    border-radius: 6px;
    height: 30px;
    border: 1px solid #222;
}

button img {
    width: 15%;
    margin-right: 2px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

button:hover {
    background-color: #222222eb
}